<html xmlns:th="http://www.thymeleaf.org">

<head><meta charset="UTF-8" /></head>

<body>
	<div class="alert alert-danger alert-dismissible fade show" role="alert"
		th:if="${#fields.hasAnyErrors()}">
	    <th:block th:each="detailedError : ${#fields.detailedErrors()}">
			<div>
				<i class="fa-solid fa-circle-exclamation"></i> [[${detailedError.message}]]
			</div>
		</th:block>
	    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
</body>

</html>
